[object Object],
  ,[object Object],Par: ,[object Object],[object Object],[object Object],
  ,[object Object],Timeframe: 
    ,[object Object],
      ,[object Object],1 Minuto,[object Object],
      ,[object Object],5 Minutos,[object Object],
      ,[object Object],1 Hora,[object Object],
    ,[object Object],
  ,[object Object],[object Object],
  ,[object Object],Confluencia: ,[object Object],[object Object],[object Object],
  ,[object Object],Analizar,[object Object],
,[object Object],

,[object Object],
  ,[object Object],Resultados,[object Object],
  ,[object Object],[object Object],
,[object Object],

,[object Object],[object Object],[object Object],
